body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(picture.jpg) no-repeat center center fixed; /*(very useful)*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}
.buffer{
  height: 600px;
}

.btn{
  font-weight: 900;
  font-size: 1rem;
  padding: .5rem .5rem;
  text-transform: uppercase;
  border-radius: 300px;
}
.btn-warning:hover{
 background-color: red;
 border-color: red;
 border-width: 2px;
}